h1 {
 text-align: center;
}

.panel {
  margin: 20px;
}

.title {
  margin-left: 20px;
}

.center {
  text-align: center;
}

.block {
  margin: 20px;
}

.answer {
  text-align: justify;
}

.posted {
  font-weight: lighter;
  text-align: right;
}
